<extend name="Common:base" />

<block name="css">
<link rel="stylesheet" href="__PUBLIC__/css/imgbox.css" />
</block>

<block name="top-fixed"></block>

<block name="main">
<div class="am-g shard-detail">


<div class="content">
  <div class="am-u-md-9 share">
		<div class="am-g page-title">
			<h2 class="am-fl">
				<span class="am-icon-fire am-text-danger am-margin-right"> {$data.heat} ℃</span>
				时光碎片 {$data.share_id}
				<span class="am-text-lg am-margin-left">{$data.tag_id|show_tag="1"}</span>
			</h2>
	  	<if condition="get_auth('delete', 0, $data['share_id'])">
	    <div class="am-btn-group am-btn-group-xs am-fr">
			  <a href="{:U('Shard/modi','share_id='.$data['share_id'])}" class="am-btn am-radius am-btn-secondary">修改</a>
			  <button class="am-btn am-radius am-btn-link" onclick="deleteShare({$data.share_id})" style="color: #ccc;">删除</button>
			</div>
	  	</if>
		</div>
  	<div class="am-g">
	  	<p class="am-text-sm am-fl info">
	  		<a class="am-text-warning" href="__ROOT__/user/{$data['user_id']}">@{$data.user_id|get_nickname}</a>
	  		发表在 <a href="__ROOT__/catalog/{$data.catalog_id}">{$data.catalog_id|get_catalog_name}</a>
	  		于 {$data.create_time|get_timing}前
	  	</p>
  	</div>
  	<div class="am-g">
			<a id="imgbox" href="__PUBLIC__/{$data.savepath}{$data.savename}" title="{$data.tag_id|get_tag}">
				<img class="am-img-responsive" style="padding: 10px;background-color: white;" alt="{$data.tag_id|str2json|get_tag}" src="__PUBLIC__/{$data.savepath}{$data.savename}" />
			</a>
			<div>
				<p class="am-fl" style="padding: 8px;margin: 0;color: #555;">
					<if condition="substr($data['time'],0,8) eq substr($data['create_time'],0,8)">上传<else />拍摄</if>于
					{$data.time|time_format='Y 年 n 月 j 日 H:i'} ( {$data.time|get_timing}前 ) <span style="color: black;"> [ ↑ 点击上方查看大图 ↑ ] </span></p>
				<div class="am-btn-group am-btn-group-sm am-fr am-padding-top-xs">
					<span class="am-badge am-round"><i class="am-icon-heart"></i> {$data.be_like}</span>
					<span class="am-badge am-round"><i class="am-icon-eye"></i> {$data.click}</span>
					<span class="am-badge am-round"><i class="am-icon-comments-o"></i> {$data.total_comments}</span>
					<button class="am-badge am-round am-badge-danger like-btn" onclick="like({$data.share_id},this);">
						<if condition="get_like_status($data['share_id'])">
							已收藏 <i class="am-icon-heart"></i>
						<else />
							喜欢 <i class="am-icon-heart-o"></i>
						</if>
					</button>
				</div>
			</div>
  	</div>
  	<if condition="strlen($data['detail']) gt 0">
		<div class="am-g">
			<p class="detail">{$data.detail}</p>
		</div>
  	</if>

		<div id="imgbox-info" class="am-hide">
			<div class="am-g" style="background-color: #CECECE;">
				<div class="tag am-fl am-margin-left-sm">{$data.tag_id|show_tag="1"}</div>
				<div class="author am-fr am-margin-right">{$data.create_time|time_format='Y 年 m 月 d 日 H:i'} 由 @{$data.user_id|get_nickname} 发表于 {$data.create_time|get_timing}前</div>
			</div>
			<div class="detail am-text-default am-text-truncate" style="text-indent: 1.5em;">{$data.detail}</div>
		</div>


    <div class="am-g comment">
    	<hr class="am-article-divider blog-hr">

			<volist name="comment" id="vo">
			<article class="am-comment" data-comment-id="{$vo.comment_id}">
			  <a href="__ROOT__/user/{$vo['user_id']}">
			    <img class="am-comment-avatar" alt="" src="{:U('Base/avatar','user_id='.$vo['user_id'])}"/> <!-- 评论者头像 -->
			  </a>

			  <div class="am-comment-main">
			    <header class="am-comment-hd">
			      <div class="am-comment-meta am-fl">
			        <a href="__ROOT__/user/{$vo['user_id']}" class="am-comment-author"><span class="am-text-warning">@{$vo.user_id|get_nickname}</span></a>
			        评论于 {$vo.create_time|get_timing}前
			      </div>
			      <if condition="get_auth('manage_comment', 0, $vo['comment_id'])">
			      <div class="am-fr am-vertical-align">
			      	<button class="am-text-sm am-vertical-align-middle am-badge" onclick="delComment({$vo.comment_id});" style="margin-right: 1rem;">删除该条 <i class="am-icon-times"></i></button>
			      </div>
			      </if>
			    </header>

			    <div class="am-comment-bd">{$vo.detail}</div>
			  </div>
				<br />
			</article>
			</volist>

			<form class="am-form form" data-am-validator>
				<fieldset>
				<div class="am-form-group">
		      <label for="doc-ipt-comment" class="title">我要吐槽 <span class="am-text-sm am-text-warning">请合理吐槽</span></label>
		      <textarea id="doc-ipt-comment" required minlength="2" maxlength="255" rows="3" placeholder="请不要超过255字"></textarea>
					<input type="hidden" value="{$data.share_id}" name="share_id"></input>
		    </div>
				<input type="submit" class="am-btn am-btn-primary" value="吐" onclick="return submitComment()"></input>
				</fieldset>
			</form>

    </div>
</div>

  <div class="am-u-md-3 blog-sidebar other-info">
		<include file="Common/user" head="" btn="0" />

  	<div class="box am-margin-top">
  		<h5>{$user_info.user_id|get_nickname} 的近期分享</h5>
  		<ul class="new-share am-avg-sm-3">
  			<volist name="new_share" id="vo">
  				<gt name="vo.width" value="$vo.height">
					<li>
						<div class="media">
							<a href="__ROOT__/{$vo.share_id}"><img src="__PUBLIC__/{$vo.savepath}t_{$vo.savename}" title="{$vo.tag_id|get_tag}" style="height: 100%;" /></a>
						</div>
					</li>
  				<else />
					<li>
						<div class="media">
							<a href="__ROOT__/{$vo.share_id}"><img src="__PUBLIC__/{$vo.savepath}t_{$vo.savename}" title="{$vo.tag_id|get_tag}" style="width: 100%;" /></a>
						</div>
					</li>
  				</gt>
  			</volist>
  		</ul>
  	</div>

  	<div class="box am-margin-top">
  		<h5> [ {$data.catalog_id|get_catalog_name} ] 分类下的热门分享</h5>
  		<ul class="new-share am-avg-sm-3">
  			<volist name="cata_hot" id="vo">
  				<gt name="vo.width" value="$vo.height">
					<li>
						<div class="media">
							<a href="__ROOT__/{$vo.share_id}"><img src="__PUBLIC__/{$vo.savepath}t_{$vo.savename}" title="{$vo.tag_id|get_tag}" style="height: 100%;" /></a>
						</div>
					</li>
  				<else />
					<li>
						<div class="media">
							<a href="__ROOT__/{$vo.share_id}"><img src="__PUBLIC__/{$vo.savepath}t_{$vo.savename}" title="{$vo.tag_id|get_tag}" style="width: 100%;" /></a>
						</div>
					</li>
  				</gt>
  			</volist>
  		</ul>
  	</div>

  	<div class="box am-margin-top">
  		<h5>随便看看</h5>
  		<div class="rand">
  			<a href="__ROOT__/{$rand.share_id}"><img class="rand" src="__PUBLIC__/{$rand.savepath}t_{$rand.savename}" alt="{$rand.tag_id|get_tag}" /></a>
  		</div>

  	</div>

  </div>
</div>

</div>
</block>

<block name='js'>
<script type="text/javascript" src="__PUBLIC__/js/jquery.imgbox.js"></script>

<script type="text/javascript">
(function($) {
	$("#imgbox").attr('detail', $("#imgbox-info").html() );
	$("#imgbox").imgbox();
})(jQuery);

function delComment(comment_id) {
	modalConfirm(function() {
		$.ajax({
			type:"post",
			url: ROOT + "/Shard/delete_comment",
			data: {comment_id: comment_id},
			success: function(data) {
				if (data.status) {
					modalPopup('删除成功');
					$("article[data-comment-id="+ comment_id +"]").remove();
				} else {
					modalPopup(data.info, false);
				}
			}
		});
	}, '你确定要删除这条评论吗？');
}

function submitComment() {
	var detail = $("#doc-ipt-comment");
	var share_id = {$data.share_id};
	if (detail.val().length < 2) {
		modalPopup("吐槽也要输入点东西嘛 -_-; (请输入两个以上的字)", false);
		return false;
	}
	$.ajax({
		type:"post",
		url: ROOT + "/Shard/submit_comment",
		data: {
			detail: detail.val(),
			share_id: share_id
		},
		success: function(data) {
			if (data.status) {
				modalPopup('评论成功');
				location.reload();
				detail.val('');
			} else {
				modalPopup(data.info, false);
			}
		}
	});
	return false;
}
</script>
</block>
