* {
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
}
body {
  background: #E1E1E1;
}
.am-g-fixed {
  max-width: 1152px;
}
.bg-fix {
  background: url(../img/bg-fixed.png) repeat;
}
.am-topbar {
  z-index: 100;
}
.am-topbar .am-text-ir {
  display: block;
  margin-right: 10px;
  height: 50px;
  width: 125px;
  background: url(../img/logo.png) no-repeat left center;
  -webkit-background-size: 125px 24px;
  background-size: 125px 24px;
}
.am-topbar-inverse {
  border-color: #fff;
}
#search-box {
  position: relative;
}
#search-box button {
  position: absolute;
  right: 5px;
  top: 4px;
  padding: 0.5em 0.75em;
}
.page-search .logo {
  padding: 20px;
}
.page-search .box {
  height: 100px;
}
.page-search .tag-box {
  width: 254px;
}
ul.am-dropdown-content {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
ul.am-dropdown-content > li > a {
  color: white;
}
ul.am-dropdown-content:after {
  top: -7px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
.am-nav li a {
  color: white;
}
.am-nav li a:hover,
.am-nav li a:focus {
  background-color: #222;
}
#top-banner {
  position: relative;
  margin-bottom: 0;
}
#top-banner p {
  position: absolute;
}
#top-banner p.mobile {
  bottom: 5%;
  right: 5%;
}
#top-banner p.desktop {
  bottom: 60px;
  right: 100px;
}
.footer {
  margin-top: 40px;
  background: #fff none repeat scroll 0% 0%;
  color: #999;
  padding: 30px 0px 15px;
  font-size: 1.4rem;
}
.footer .amz-fd {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}
.footer .amz-fd a {
  display: block;
  width: 92px;
  height: 30px;
  text-indent: -9999px;
  background: #F37B1D url(../img/logo-o.png) no-repeat scroll left center;
  background-size: 92px 30px;
}
.footer .amz-links {
  display: inline-block;
}
.footer .footer-img {
  margin-top: 16px;
  display: block;
  width: 340px;
  height: 100px;
  text-indent: -9999px;
  background: #5DD595 url(../img/footer.png) no-repeat 50% 50%;
  background-size: 400px 100px;
}
#wookmark {
  position: relative;
  list-style: none;
}
#wookmark li.wookmark-box {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: none;
  width: 254px;
}
#wookmark li.wookmark-box .share {
  position: relative;
  padding-bottom: 0.4rem;
  background-color: #ffffff;
}
#wookmark li.wookmark-box .share .author {
  max-width: 18rem;
  padding-left: 0.8rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  font-size: 1.3rem;
}
#wookmark li.wookmark-box .share .tool-bar {
  position: absolute;
  right: 0.8rem;
  top: 0.3rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
}
#wookmark li.wookmark-box .share .media {
  position: relative;
  width: 254px;
}
#wookmark li.wookmark-box .share .media .tag {
  position: absolute;
  left: 10%;
  top: 1rem;
}
#wookmark li.wookmark-box .share .media .time {
  position: absolute;
  right: 7%;
  bottom: 1.75em;
  background-color: rgba(0, 0, 0, 0.3);
}
#wookmark li.wookmark-box .share .detail {
  padding: 0.4rem 1rem 0;
  font-size: 1.2rem;
  width: 254px;
  color: #000000;
}
#wookmark li.inactive {
  opacity: 0;
}
.wookmark-placeholder {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#filters {
  list-style-type: none;
  text-align: center;
  padding-bottom: 2rem;
  padding-left: 0;
}
#filters li {
  background-color: white;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 4px;
  border: 1px solid #eee;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
#filters li:hover {
  background: #009CDA;
  color: #ffffff;
}
#filters li.active {
  background: #0B76AC;
  color: #ffffff;
}
#filters.catalog li {
  min-height: 7rem;
  width: 24%;
  font-size: 3.6rem;
  line-height: 3.6rem;
  letter-spacing: 2rem;
  text-rendering: optimizelegibility;
  text-shadow: #ccc 2px 2px 2px;
}
#filters.catalog li:first-letter {
  font-size: 4.8rem;
}
.box-notice {
  background-color: #fff;
  padding: 8px 12px;
}
.box-notice .info {
  padding-bottom: 8px;
  padding-top: 8px;
  border-top: 1px solid #555;
  border-bottom: 1px dashed #555;
}
.box-notice button {
  margin-top: 16px;
  margin-bottom: 8px;
}
#page-ground-nav {
  padding-bottom: 0.4rem;
  background-color: #ffffff;
  width: 254px;
}
#page-ground-nav .title {
  padding: 12px 12px 0;
}
#page-ground-nav .loc {
  padding: 0 12px;
}
#returnTop {
  _display: none;
  position: fixed;
  _position: absolute;
  z-index: 99;
  right: 35px;
  bottom: -200px;
  _bottom: auto;
  width: 36px;
  height: 65px;
  text-indent: -999px;
  overflow: hidden;
  background-image: url(../img/gotoTop.png);
  _background-image: url(../img/gotoTop.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: bottom 0.9s;
  -webkit-transition: bottom 0.9s;
  -moz-transition: bottom 0.9s;
  -o-transition: bottom 0.9s;
}
#returnTop:hover {
  background-position: 0 -65px;
}
/* 分享详情页面 */
.shard-detail .content {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 1152px;
}
.shard-detail .content .page-title {
  margin-top: 2rem;
  margin-bottom: 10px;
  padding: 10px 1em;
  max-width: 1040px;
  background-color: #555;
  color: #FFFFFF;
}
.shard-detail .content .page-title h2 {
  margin-bottom: 0;
}
.shard-detail .content .page-title span.am-text-lg .am-badge {
  font-size: 16px;
}
.shard-detail .content .share .info {
  background-color: rgba(255, 255, 255, 0.4);
  color: #555;
  padding: 4px 16px;
  width: 100%;
  margin-bottom: 16px;
}
.shard-detail .content .share .detail {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 15px;
  color: black;
}
.shard-detail .content .other-info .box {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #555;
}
.shard-detail .content .other-info .box .detail {
  color: black;
}
.shard-detail .content .other-info .box .new-share > li {
  padding-bottom: 2px;
}
.shard-detail .content .other-info .box .new-share > li .media {
  width: 72px;
  height: 72px;
  overflow: hidden;
}
.shard-detail .content .other-info .box .rand img {
  width: 100%;
}
.shard-detail .content .comment .am-comment-meta {
  color: #777;
}
.shard-detail .content .comment .am-comment-bd {
  background-color: #EEEEEE;
  color: #666;
}
.shard-detail .content .comment .form fieldset {
  padding: 0;
}
/* 广场页面横向瀑布流 */
.page-index {
  background-color: #f6f6f6;
}
.page-index h2 {
  color: white;
}
.page-index .header .title {
  margin-left: 2px;
  padding: 4px 8px;
  width: 8em;
  height: 20px;
  line-height: 20px;
  background: url(../img/flag-cutout.png) no-repeat scroll 100% 50% #0899D9;
  font-size: 18px;
  color: white;
}
.page-index .catalog .body {
  padding: 1px;
}
.page-index .catalog .body .media {
  position: relative;
  float: right;
  overflow: hidden;
  margin: 1px;
}
.page-index .catalog .body .media img {
  max-height: 300px;
}
.page-index .catalog .body .media .info {
  font-size: 12px;
  position: absolute;
  top: -300px;
  left: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  color: #555;
  padding: 10px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.page-index .catalog .body .media .info .detail {
  font-size: 16px;
  color: black;
}
.page-index .catalog .body .empty {
  padding: 10px;
}
.page-index .active-user .content,
.page-index .active-tag .content {
  padding: 8px;
  border-right: 4px solid #ddd;
}
.page-index .active-user .content > .box,
.page-index .active-tag .content > .box {
  margin: 0 4px;
}
.page-index .active-user .content:nth-of-type(4n),
.page-index .active-tag .content:nth-of-type(4n) {
  border-right: 0px solid;
  padding-right: 12px;
}
.page-index .active-user .content .pic,
.page-index .active-tag .content .pic {
  width: 83px;
  height: 83px;
  margin: 0 1px 1px 0;
  overflow: hidden;
}
.page-index .active-user hr,
.page-index .active-tag hr {
  border-width: 4px 0 0;
}
/* 修改分享页面 */
.page-shard-modi .container {
  background-color: rgba(255, 255, 255, 0.4);
  min-width: 960px;
}
.page-shard-modi .new-album {
  line-height: 35px;
  margin-top: 5px;
  margin-left: 1em;
}
.user-modi-user-info > div {
  background-color: white;
}
.page-disclaimer {
  margin-top: 30px;
  padding: 24px;
  background-color: white;
}
/*# sourceMappingURL=app.css.map */
