* {
	padding: 0;margin: 0;
}
html {
	overflow-x: hidden;
}
body {
    background:
        //#ccc url(../img/logo-v.png) 98% 100% no-repeat fixed;
        url(../img/bg-fixed.png) repeat
        ,url(../img/bg.jpg) fixed;
}
.bg-fix {
    background: url(../img/bg-fixed.png) repeat;
}

// 顶部导航栏
.am-topbar{
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
    .am-text-ir {
        display: block;
        margin-right: 10px;
        height: 50px;
        width: 125px;
        background: url(../img/logo.png) no-repeat left center;
        -webkit-background-size: 125px 24px;
        background-size: 125px 24px;
    }
}
ul.am-dropdown-content{
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
     &>li>a{
        color: white;
    }
    &:after{
        top: -7px;
        border-bottom-color: rgba(0,0,0,0.8);
    }
}
.am-nav li a{
    color: white;
    &:hover,&:focus{
        background-color: #222;
    }
}

// 首页轮播图
#top-banner {
    position: relative;
    margin-bottom: 0;
    p {
        position: absolute;
        &.mobile {
            bottom: 5%;
            right: 5%;
        }
        &.desktop {
            bottom: 60px;
            right: 100px;
        }
    }
}

// 页脚
footer {
    background-color: rgba(255,255,255,0.5) !important;
    .footer-text{
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
        color: black;
    }
    .footer-link{
        color: #009CDA;
    }
}


// 模态窗口
#modal-login .am-modal-dialog {
    legend {
        padding: 10px;
        .logo {
            display: inline-block;line-height: 1em;
            height: 20px;width: 60px;
            background: url(../img/logo-o.png) no-repeat #A4241F;
            background-size: 60px 20px;
        }
    }
    p {
        margin-top: 0;margin-bottom: 0;
    }
    #modal-popover-sign {
        margin: 10px 0 0;
    }
}
#smile {
    position: absolute;top: 8px;right: 8px;
}

// wookmark 瀑布流样式
#wookmark{
    position:relative;
    list-style: none;
    li{
        &.wookmark-box{
          -webkit-transition: all 0.3s ease-out;
             -moz-transition: all 0.3s ease-out;
               -o-transition: all 0.3s ease-out;
                  transition: all 0.3s ease-out;
            display:none;
        }
        &.inactive {
            //visibility: hidden;
            opacity: 0;
        }
        .share{
            position: relative;
            padding-bottom: 0.4rem;
            background-color: rgba(255,255,255,0.5);
            &.default{}
            &.red{background-color: rgba(224,21,40,0.4);}
            &.purple{background-color: rgba(198,19,157,0.4);}
            &.orange{background-color: rgba(236,138,22,0.4);}
            &.blue{background-color: rgba(19,108,193,0.4);}
            &.green{background-color: rgba(55,199,20,0.4);}
            &.yellow{background-color: rgba(255,242,25,0.4);}
            .author{
                max-width: 18rem;
                padding-left: 0.8rem;padding-bottom: 0.8rem;padding-top: 0.8rem;
                font-size: 1.3rem;
            }
            .tool-bar{
                position: absolute;right: 0.8rem;top: 0.3rem;
                padding-bottom: 0.4rem;padding-left: 0.8rem;
            }
            .media{
                position: relative;
                .tag{
                    position: absolute;left: 10%;top: 1rem;
                }
                .time{
                    position: absolute;right: 7%;bottom: 1.75em;
                    background-color: rgba(0,0,0,0.3);
                }
            }
            .detail{
                padding: 0.4rem 1rem 0;
                font-size: 1.2rem;
                color: #000000;
            }
        }
    }
}
// wookmark 底部占位符样式
.wookmark-placeholder{
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
    background-color: rgba(255,255,255,0.4);
}
// wookmark 筛选框样式
#filters {
    list-style-type: none;
    text-align: center;
    padding-bottom: 2rem;
    padding-left: 0;
    li {
        background-color: rgba(255,255,255,0.2);
        font-size: 12px;
        padding-top: 6px;padding-bottom: 4px;
        border: 1px solid rgba(255,255,255,0.1);
        cursor: pointer;
      -webkit-transition: all 0.15s ease-out;
         -moz-transition: all 0.15s ease-out;
           -o-transition: all 0.15s ease-out;
              transition: all 0.15s ease-out;
        &:hover {
          background: #009CDA;
          color: #ffffff;
        }

        &.active {
          background: #0B76AC;
          color: #ffffff;
        }
    }
    &.catalog{
        li{
            min-height: 7rem;
            width: 24%;
            font-size: 3.6rem;line-height: 3.6rem;letter-spacing: 2rem;
            text-rendering: optimizelegibility;
            text-shadow: #ccc 2px 2px 2px;
            &:first-letter{
                font-size: 4.8rem;
            }
        }
    }
}


// 返回顶部按钮
#returnTop {
	_display: none;
	position: fixed;
	_position: absolute;
	z-index: 99;
	right: 35px;
	bottom: -200px;
	_bottom: auto;
	width: 36px;
	height: 65px;
	text-indent: -999px;
	overflow: hidden;
	background-image: url(../img/gotoTop.png);
	_background-image: url(../img/gotoTop.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	transition: bottom 0.9s;
	-webkit-transition: bottom 0.9s;
	-moz-transition: bottom 0.9s;
	-o-transition: bottom 0.9s;
	&:hover {
		background-position: 0 -65px;
	}
}


/* 分享详情页面 */
.shard-detail {
    h2 {
        margin: 0 auto;
        max-width: 1040px;
        margin-top: 2rem;
        color: #FFFFFF;
        span.am-text-lg .am-badge{
            font-size: 16px;
        }
    }
    .content {
        margin: 0 auto;
        max-width: 1040px;
        margin-top: 2rem;
        color: #FFFFFF;
        .share {
            .info {
                background-color: rgba(0,0,0,0.4);
                padding: 0 16px;
                width: 100%;
                margin-bottom: 16px;
            }
            .detail {
                background-color: rgba(255,255,255,0.4);
                padding: 15px;
                color: black;
            }
        }
        .user-info {
            .detail {
                color: black;
            }
        }
    }
}

/* 广场页面横向瀑布流 */
.ground-catalog {
    h2 {
        color: white;
    }
    .content {
        .header {
            padding: 15px;
            background: url(../img/catalog-bg.png) repeat-x;
            background-size: auto 100%;
            font-size: 24px;
        }
        .body {
            background: rgba(255,255,255,0.8);
            padding: 1px;
            .media {
                position: relative;
                float: right;
                overflow: hidden;
                margin: 1px;
                img {
                    max-height: 300px;
                }
                .info {
                    font-size: 12px;
                    position: absolute;top: -300px;left: 0px;
                    width: 100%;
                    background-color: rgba(255,255,255,0.6);
                    color: #555;
                    padding: 10px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
                    .detail {
                        font-size: 16px;
                        color: black;
                    }
                }
            }
            .empty {
                padding: 10px;
            }
        }
    }
}
