@bg-color: #E1E1E1;

* {
	padding: 0;margin: 0;
}
html {
	overflow-x: hidden;
}
body {
    //background: @bg-color url(../img/bg-fixed.png) repeat;
    background: @bg-color;
}
.am-g-fixed {
    max-width: 1152px;
}
.bg-fix {
    background: url(../img/bg-fixed.png) repeat;
}

// 顶部导航栏
.am-topbar{
    //background-color: darken(@bg-color, 20%);
    z-index: 100;
    .am-text-ir {
        display: block;
        margin-right: 10px;
        height: 50px;
        width: 125px;
        background: url(../img/logo.png) no-repeat left center;
        -webkit-background-size: 125px 24px;
        background-size: 125px 24px;
    }
    &-inverse {
        border-color: #fff;
    }
}

#search-box {
    position: relative;
    button {
        position: absolute;right: 5px;top: 4px;
        padding: 0.5em 0.75em;
    }
}
.page-search {
    .logo {
        padding: 20px;
    }
    .box {
        height: 100px;
    }
    .tag-box {
        width: 254px;
    }
}
ul.am-dropdown-content{
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
     &>li>a{
        color: white;
    }
    &:after{
        top: -7px;
        border-bottom-color: rgba(0,0,0,0.8);
    }
}
.am-nav li a{
    color: white;
    &:hover,&:focus{
        background-color: #222;
    }
}

// 首页轮播图
#top-banner {
    position: relative;
    margin-bottom: 0;
    p {
        position: absolute;
        &.mobile {
            bottom: 5%;
            right: 5%;
        }
        &.desktop {
            bottom: 60px;
            right: 100px;
        }
    }
}

// 页脚
.footer {
  margin-top: 40px;
  background: #fff none repeat scroll 0% 0%;
  color: #999;
  padding: 30px 0px 15px;
  font-size: 1.4rem;
  .amz-fd {
    display: inline-block;
    margin-right: 15px;margin-bottom: 10px;
    a {
      display: block;width: 92px;height: 30px;
      text-indent: -9999px;
      background: #F37B1D url(../img/logo-o.png) no-repeat scroll left center;
      background-size: 92px 30px;
    }
  }
  .amz-links {display: inline-block;}
  .footer-img {
    margin-top: 16px;
    display: block;width: 340px;height: 100px;
    text-indent: -9999px;
    background: #5DD595 url(../img/footer.png) no-repeat 50% 50%;background-size: 400px 100px;
  }
}

// wookmark 瀑布流样式
@wookmark-meta-bg: rgba(255,255,255,1);
#wookmark{
    position:relative;
    list-style: none;
    li{
        &.wookmark-box{
          -webkit-transition: all 0.3s ease-out;
             -moz-transition: all 0.3s ease-out;
               -o-transition: all 0.3s ease-out;
                  transition: all 0.3s ease-out;
            display:none;
            width: 254px;
            .share{
                position: relative;
                padding-bottom: 0.4rem;
                background-color: @wookmark-meta-bg;
                .author{
                    max-width: 18rem;
                    padding-left: 0.8rem;padding-bottom: 0.8rem;padding-top: 0.8rem;
                    font-size: 1.3rem;
                }
                .tool-bar{
                    position: absolute;right: 0.8rem;top: 0.3rem;
                    padding-bottom: 0.4rem;padding-left: 0.8rem;
                }
                .media{
                    position: relative;
                    width: 254px;
                    .tag{
                        position: absolute;left: 10%;top: 1rem;
                    }
                    .time{
                        position: absolute;right: 7%;bottom: 1.75em;
                        background-color: rgba(0,0,0,0.3);
                    }
                }
                .detail{
                    padding: 0.4rem 1rem 0;
                    font-size: 1.2rem;width: 254px;
                    color: #000000;
                }
            }
        }
        &.inactive {
            //visibility: hidden;
            opacity: 0;
        }
    }
}
// wookmark 底部占位符样式
.wookmark-placeholder{
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
// wookmark 筛选框样式
#filters {
    list-style-type: none;
    text-align: center;
    padding-bottom: 2rem;
    padding-left: 0;
    li {
        background-color: white;
        font-size: 12px;
        padding-top: 6px;padding-bottom: 4px;
        border: 1px solid #eee;
        cursor: pointer;
      -webkit-transition: all 0.15s ease-out;
         -moz-transition: all 0.15s ease-out;
           -o-transition: all 0.15s ease-out;
              transition: all 0.15s ease-out;
        &:hover {
          background: #009CDA;
          color: #ffffff;
        }

        &.active {
          background: #0B76AC;
          color: #ffffff;
        }
    }
    &.catalog{
        li{
            min-height: 7rem;
            width: 24%;
            font-size: 3.6rem;line-height: 3.6rem;letter-spacing: 2rem;
            text-rendering: optimizelegibility;
            text-shadow: #ccc 2px 2px 2px;
            &:first-letter{
                font-size: 4.8rem;
            }
        }
    }
}
#page-ground-nav {
    padding-bottom: 0.4rem;
    background-color:  @wookmark-meta-bg;
    width: 254px;
    .title {
        padding: 12px 12px 0;
    }
    .loc {
        padding: 0 12px;
    }
}


// 返回顶部按钮
#returnTop {
	_display: none;
	position: fixed;
	_position: absolute;
	z-index: 99;
	right: 35px;
	bottom: -200px;
	_bottom: auto;
	width: 36px;
	height: 65px;
	text-indent: -999px;
	overflow: hidden;
	background-image: url(../img/gotoTop.png);
	_background-image: url(../img/gotoTop.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	transition: bottom 0.9s;
	-webkit-transition: bottom 0.9s;
	-moz-transition: bottom 0.9s;
	-o-transition: bottom 0.9s;
	&:hover {
		background-position: 0 -65px;
	}
}


/* 分享详情页面 */
.shard-detail {
    .content {
        margin: 0 auto;margin-top: 2rem;
        max-width: 1152px;
        //color: #FFFFFF;
        .page-title {
            margin-top: 2rem;margin-bottom: 10px;
            padding: 10px 1em;
            max-width: 1040px;
            background-color: #555;
            color: #FFFFFF;
            h2 {
                margin-bottom: 0;
            }
            span.am-text-lg .am-badge{
                font-size: 16px;
            }
        }
        .share {
            .info {
                background-color: rgba(255,255,255,0.4);
                color: #555;
                padding: 4px 16px;
                width: 100%;
                margin-bottom: 16px;
            }
            .detail {
                background-color: rgba(255,255,255,0.4);
                padding: 15px;
                color: black;
            }
        }
        .other-info {
            .box {
                padding: 16px;
                background-color: rgba(255,255,255,0.7);
                color: #555;
                .detail {
                    color: black;
                }
                .new-share {
                    & > li {
                        padding-bottom: 2px;
                        .media {
                            width: 72px;height: 72px;
                            overflow: hidden;
                        }
                    }
                }
                .rand img {
                    width: 100%;
                }
            }
        }
        .comment {
            .am-comment-meta {
                color: #777;
            }
            .am-comment-bd {
                background-color: #EEEEEE;
                color: #666;
            }
            .form {
                fieldset {
                    padding: 0;
                }
            }
        }
    }
}

/* 广场页面横向瀑布流 */
.page-index {
    background-color: #f6f6f6;
    h2 {
        color: white;
    }
    .header{
        .title {
            margin-left: 2px;
            padding: 4px 8px;
            width: 8em;height: 20px;line-height: 20px;
            background: url(../img/flag-cutout.png) no-repeat scroll 100% 50% #0899D9;
            font-size: 18px;color: white;
        }
    }
    .catalog {
        .body {
            padding: 1px;
            .media {
                position: relative;
                float: right;
                overflow: hidden;
                margin: 1px;
                img {
                    max-height: 300px;
                }
                .info {
                    font-size: 12px;
                    position: absolute;top: -300px;left: 0px;
                    width: 100%;
                    background-color: rgba(255,255,255,0.6);
                    color: #555;
                    padding: 10px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
                    .detail {
                        font-size: 16px;
                        color: black;
                    }
                }
            }
            .empty {
                padding: 10px;
            }
        }
    }
    .active-user,.active-tag {
        .content {
            padding: 8px;
            border-right: 4px solid #ddd;
            & > .box {
                margin: 0 4px;
            }
            &:nth-of-type(4n) {
                border-right: 0px solid;
                padding-right: 12px;
            }
            .pic {
                 width: 83px;height: 83px;
                 margin: 0 1px 1px 0;
                 overflow: hidden;
            }
        }
        hr {
            border-width: 4px 0 0;
        }
    }
}

.user-modi-user-info {
    > div {
        background-color: white;
    }
}

.page-disclaimer {
  margin-top: 30px;padding: 24px;
  background-color: white;
}
