<extend name="Common:base" />

禁止首页缓存，以防止图片数据刷新时布局混乱的问题
<block name="meta">
<meta http-equiv="pragma" content="no-cach" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
</block>

<block name="banner">
<div id="top-banner" class="am-slider am-slider-default" data-am-flexslider="{slideshowSpeed: 7500,controlNav: false,directionNav: false}">
  <ul class="am-slides">
  	<volist name="banner" id="vo">
  		<if condition="ismobile() eq false">
	    	<li><img src="__PUBLIC__/img/banner/{$vo.savename}" /><p class='am-badge am-badge-warning am-text-default desktop'> 天佑时光轴 @{$vo.source|get_nickname} </p></li>
  		<else />
	    	<li><img src="__PUBLIC__/img/banner/t_{$vo.savename}" /><p class='am-badge am-badge-warning mobile'> @{$vo.source|get_nickname} </p></li>
  		</if>
  	</volist>
  </ul>
</div>
</block>


<block name='main'>
<div class="am-g am-g-fixed">

	<!-- 分类模块 -->
		<foreach name="catalog" item="group" key="k">
	<div class="am-u-sm-12 index-catalog am-margin-bottom-lg">
		<div class="am-margin-top-lg am-margin-bottom-lg am-cf content">
			<div class="header">
				<span class="title">{$group|get_catalog_name}&nbsp;&nbsp;</span>
				<span class="more am-text-sm am-margin-left-sm"><a href="__ROOT__/catalog/{$group}"> 查看更多 <i class="am-icon-angle-double-right"></i></a></span>
			</div>
			<div class="am-u-sm-12 body am-margin-top" data-cataid="{$group}">
				<volist name="share[$k]" id="vo">
					<div class="media" data-row="{$group}">
						<a href="__ROOT__/{$vo.share_id}">
							<img src="__PUBLIC__/{$vo.savepath}t_{$vo.savename}" />
						</a>
						<div class="info">
							<a class="am-text-warning" href="__ROOT__/user/{$vo.user_id}">@{$vo.user_id|get_nickname}</a>
							发表在 <a href="__ROOT__/catalog/{$vo.catalog_id}" class="am-text-secondary">{$vo.catalog_id|get_catalog_name}</a>
							于 <span>{$vo.create_time|get_timing}</span>前<br />
							<if condition="strlen($vo['tag_id']) gt 0"><span style="display: block;padding-top: 4px;">{$vo.tag_id|show_tag}</span></if>
							<if condition="strlen($vo['detail']) gt 0"><span style="display: block;padding-top: 4px;">{$vo.detail|substring='30'}</span></if>
						</div>
					</div>
				</volist>
			</div>
		</div>
	</div>
		</foreach>


</div>
</block>

<block name="js">
<script type="text/javascript">

	$(".media").on('mouseover', function() {
		var el = $(this);
		el.children('.info').css('top', '0');
	});
	$(".media").on('mouseout', function() {
		var el = $(this);
		el.children('.info').css('top', '-300px');
	});

	/**
	 * 水平瀑布流布局
	 * @author mutoe
	 */
	// 写入高度数据
	var imgHeight = 200 - 4;	// 减去4px边框
	$(".media").each(function() {
		var el = $(this);
		el.find('img').attr('height', imgHeight);
		el.find('img').css('max-height', 300);
		el.css('float', 'right');
  });

	// 获取分类的id数组
	var catalog = {$catalog|json_encode};

	// 对每个分类进行循环
	for(c in catalog) {
		var row = new Array();	// 初始化高度列表
		var r = 0;	// 初始化行计数器

		// 筛选分类
		$(".media[data-row='"+ catalog[c] +"']").each(function() {
			var el = $(this);
			var innerHt = el.position().top;
			if(innerHt != row[row.length - 1]) {	// 如果新一行元素
				r++;
				row.push( innerHt );	// 写入高度
			}
			el.attr('data-row', catalog[c] +"-"+ r);	// 写入行数数据
		});

		// 根据行数据处理
		var parentWidth = $('.body').innerWidth();	// 获取父容器宽度
		var ht = imgHeight;	// 初始图像高度
		for (var i = 1 ; i < 4 ; i++ ) {
			// 获取该行宽度，并计算出图像铺满时的高度
			$(".media[data-row='"+ catalog[c] +"-"+ i +"']:last").each(function() {
				var el = $(this);
				var mod = el.position().left -2;	// 根据最后一个元素的位置计算行空余宽度
				ht = ( imgHeight * parentWidth ) / ( parentWidth - mod );
			});
			// 修正图像高度
			$(".media[data-row='"+ catalog[c] +"-"+ i +"']").each(function() {
				var el = $(this);
				ht = Math.floor(ht);
				el.find('img').attr('height',ht );
				// 修正行浮动（否则逼死强迫症）
				el.css('float', 'left');
			});
		}
		// 只显示三行
		for (var i = 4 ; i <= r ; i++) {
			$(".media[data-row='"+ catalog[c] +"-"+ i +"']").each(function() {
				var el = $(this);
				el.addClass('am-hide');
			});
		}
	}
</script>
</block>
