<extend name="Common:base" />

<block name='css'>
<style type="text/css">
		.am-viewport{max-height: 400px;}
</style>
</block>

<block name="banner">
<div onclick="javascript:" id="top-banner" class="am-slider am-slider-default" data-am-flexslider="{slideshowSpeed: 7500,controlNav: false,directionNav: false}">
  <ul class="am-slides">
    <li><img src="__PUBLIC__/img/banner/01.jpg" /><p class="am-badge am-badge-warning"> 天佑时光轴 @{$vo.userid|default='时光老人'} </p></li>
    <li><img src="__PUBLIC__/img/banner/02.jpg" /><p class="am-badge am-badge-warning"> 天佑时光轴 @{$vo.userid|default='时光老人'} </p></li>
    <li><img src="__PUBLIC__/img/banner/03.jpg" /><p class="am-badge am-badge-warning"> 天佑时光轴 @{$vo.userid|default='时光老人'} </p></li>
    <li><img src="__PUBLIC__/img/banner/04.jpg" /><p class="am-badge am-badge-warning"> 天佑时光轴 @{$vo.userid|default='时光老人'} </p></li>
    <li><img src="__PUBLIC__/img/banner/05.jpg" /><p class="am-badge am-badge-warning"> 天佑时光轴 @{$vo.userid|default='时光老人'} </p></li>
    <li><img src="__PUBLIC__/img/banner/06.jpg" /><p class="am-badge am-badge-warning"> 天佑时光轴 @{$vo.userid|default='时光老人'} </p></li>
  </ul>
</div>
</block>

<block name="main">
<div class="am-g">
	<ul id="wookmark" class="am-u-sm-12 am-u-md-10 am-u-sm-centered am-center" style="margin-top: 6rem;">
		<volist name="data" id="vo">
		<li class="wookmark-box">
			<div class="share">
				<div class="author"><a href="{:U('User/index','user_id='.$vo['user_id'])}">@{$vo.user_id|get_nickname}</a></div>
				<div class="media am-g">
					<div class="am-u-sm-12">
						<div class="tag am-hide-sm-only">{$vo.tag_id|show_tag}</div>
						<a class="am-show-sm-down" href="{:U('Shard/detail','id='.$vo['share_id'])}">
							<img src="__PUBLIC__/{$vo.savepath}t_{$vo.savename}" width="162" height="{:get_t_height($vo['width'],$vo['height'],162)}"/>
						</a>
						<a class="am-show-md-up" href="{:U('Shard/detail','id='.$vo['share_id'])}">
							<img src="__PUBLIC__/{$vo.savepath}t_{$vo.savename}" width="254" height="{:get_t_height($vo['width'],$vo['height'],254)}"/>
						</a>
						<div class="time am-badge am-radius">{$vo.time|time_format="Y 年 m 月 d 日 H:i"}</div>
					</div>
				</div>
				<div class="tool-bar am-hide-sm-only">
					<span class="am-badge am-round"><i class="am-icon-eye"></i> {$vo.click}</span>
					<span class="am-badge am-round"><i class="am-icon-comments-o"></i> {$vo.total_comments}</span>
					<button class="am-badge am-round am-badge-danger like-btn" data-id="{$vo.share_id}" onclick="javascript:like(this);">
						<if condition="get_like_status($vo['share_id'])">
							<i class="am-icon-heart"></i>
						<else />
							<i class="am-icon-heart-o"></i>
						</if>
					</button>
				</div>
				<div class="detail am-show-sm-only" style="max-width: 162px;">{$vo.detail}</div>
				<div class="detail am-show-md-up" style="max-width: 254px;">{$vo.detail}</div>
				<div class="detail" style="color: #999;">分享在 <a href="{:U('Catalog/detail','id='.$vo['catalog_id'])}">{$vo.catalog_id|get_catalog_name}</a> 于 {$vo.create_time|get_timing}前</div>
				<div class="comment"></div>
			</div>
		</li>
		</volist>
	</ul>

<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">天佑时光轴</div>
    <div class="am-modal-bd">你，确定要删除这条记录吗？</div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>不不不</span>
      <span class="am-modal-btn" style="color: #DD514C;" data-am-modal-confirm><i class="am-icon-remove"></i> 无情删除</span>
    </div>
  </div>
</div>

</div>
</block>

<block name="js">
<script src="__PUBLIC__/js/jquery.wookmark.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$("#wookmark li").wookmark({
		container: $("#wookmark"),
		offset: 8,
		autoResize: true
	});

function del (share_id) {
	$('#my-confirm').modal({
		relatedTarget: this,
		onConfirm: function(options) {
			console.log(share_id);
			var options = {
				url:"{:U('Shard/del')}",
				data: {'share_id': share_id},
				success: function(data) {
					alert(data.info);
					location.reload();
				},
				error: function(data) {
					alert(data.info);
					console.log(data.info);
				}
			};
			$.ajax(options);
			return false;//为了防止刷新
		}
	});
}

$('#my-confirm').on('closed.modal.amui', function() {
	$(this).removeData('am.modal');
});
</script>
</block>

