<extend name='Common:base' />

<block name="css">
<style type="text/css">
    body {
    	background-image: url(__PUBLIC__/img/timeline-v2/bg.jpg);
    	background-position: 30% 80%;
    }
</style>
</block>

<block name="main">
<div class="am-g am-g-fixed page-search">
	<div class="am-u-sm-12 am-u-md-10 am-u-md-centered header">
		<div class="logo am-margin-top-xl am-margin-bottom-xl">
			<img class="am-center" src="__PUBLIC__/img/logo.png" alt="天佑时光轴" />
		</div>
	</div>
	<div class="am-u-sm-12 am-u-md-10 am-u-lg-8 am-u-sm-centered box">
		<form class="am-form">
			<div class="am-input-group">
	      <input type="text" class="am-form-field" id="search-content" />
	      <span class="am-input-group-btn">
	        <button class="am-btn am-btn-primary" type="submit" onclick="return search()" style="width: 8em;">搜索</button>
	      </span>
    	</div>
		</form>
	</div>

</div>
</block>

<block name="js">
<script type="text/javascript">
	function search() {
		var content = $("#search-content").val();
		location.href = ROOT + "/search/" + content;
		return false;
	}
</script>
</block>

<block name="footer"></block>