<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>天佑时光轴 - 天佑app</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="browsermode" content="application">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-page-mode" content="app">

  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="__PUBLIC__/css/amazeui.css">
  <link rel="stylesheet" href="__PUBLIC__/css/mobile.css">
  <block name="css"></block>
</head>
<body>

<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
  <div class="am-header-left am-header-nav">
    <a href="{:U('Index/index')}"><i class="am-header-icon am-icon-home"></i></a>
  </div>
  <h1 class="am-header-title"><a class="">{$page.title|default="天佑时光轴"}</a></h1>
  <div class="am-header-right am-header-nav">
    <if condition="is_login()">
    <a href="{:U('Shard/add')}"><i class="am-header-icon am-icon-camera"></i></a>
    <else />
    <a href="{:U('Login/index')}"><i class="am-header-icon am-icon-user"></i></a>
    </if>
  </div>
</header>

<block name="menu"></block>

<block name="main"></block>

<block name="navbar">
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li><a href="##"><i class="am-icon-leaf"></i> <span class="am-navbar-label">广场</span></a></li>
    <li><a href="##"><i class="am-icon-tags"></i> <span class="am-navbar-label">标签</span></a></li>
    <li><a href="##"><i class="am-icon-home"></i> <span class="am-navbar-label">关于我们</span></a></li>
    <if condition="is_login()">
    <li><a href="##"><i class="am-icon-clock-o"></i> <span class="am-navbar-label">时光</span></a></li>
    <li><a href="##"><i class="am-icon-user"></i> <span class="am-navbar-label">个人中心</span></a></li>
    </if>
  </ul>
</div>
</block>
    <li data-am-navbar-share>
      <a href="###">
        <span class="am-icon-share-square-o"></span>
        <span class="am-navbar-label">分享</span>
      </a>
    </li>


<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/amazeui.js"></script>

<block name="js"></block>

</body>
</html>
