<extend name='Common:base' />

<block name='css'>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/timeline-v2.css"/>
</block>

<block name='top-fixed'></block>

<block name='main'>
<div class="am-g am-g-fixed">

<div class="am-u-sm-12 top">
	<p class="sentence">百年那得更百年，今日还须爱今日。</p>
	<p class="inscribe am-fr">——王世贞</p>
</div>

<div class="am-u-sm-12 container">
	<div class="am-u-md-1 am-g-collapse">
		<div class="scrubber" data-am-scrollspy-nav="{className: {active: 'current'}}" data-am-sticky="{top:30}">
			<foreach name="list" key="year" item="vo">
			<a class="year" onclick="javascript:show_year('{$year}',this);">{$year}</a>
				<volist name="vo" id="month">
				<a class="month" onclick="javascript:show_month('{$year}','{$month}',this);">{$month}月</a>
				</volist>
			</foreach>
		</div>
	</div>
	<div class="am-u-md-11 content">
<foreach name="list" key="year" item="vo">
		<div class="content_year" id="spy_{$year}">{$year}</div>
	<volist name="vo" id="month">
		<div class="content_month" id="spy_{$year}{$month}">{$month}月</div>
		<volist name="data" id="per_month">
			<volist name="per_month" id="meta">
				<if condition="$meta['month'] eq $year.$month">
		<div class="content_item">
			<div class="arrow"></div>
			<div class="dot">
				<div class="dot_child"></div>
			</div>
			<div class="head">
				<div class="title">
					<div class="lunar">时<br />&nbsp;&nbsp;&nbsp;光</div>
					{$meta.time|time_format="m月d日 h:i a."}
				</div>
				<div class="tag">
					{$meta.tag_id|show_tag=1}
				</div>
			</div>
			<div class="media">
				<a href="__ROOT__/{$meta['share_id']}"><img src="__PUBLIC__/{$meta.savepath}t_{$meta.savename}" width="370"/></a>
			</div>
			<div class="footer">
				<div class="intro">
					<if condition="$meta['detail'] neq ''">
					<i class="icon quote_l"></i>
					{$meta.detail}
					<i class="icon quote_r"></i>
					</if>
				</div>
				<div class="info am-btn-group-xs">
					<a class="am-btn am-btn-danger" title="喜欢" data-id="{$meta.share_id}" onclick="like(this)">
						<if condition="get_like_status($meta['share_id'])">
							<i class="am-icon-heart am-icon-xs"></i>
						<else />
							<i class="am-icon-heart-o am-icon-xs"></i>
						</if>
						({$meta.be_like})
					</a>
					<a class="am-btn am-icon-comments-o am-icon-sm am-btn-icon am-primary" title="评论"> ({$meta.total_comments})</a>
				</div>
				<div class="like">这个碎片被点击了 {$meta.click} 次</div>
			</div>
		</div>
				</if>
			</volist>
		</volist>
	</volist>
</foreach>
	</div>
</div>
</div>
</block>

<block name='js'>
<script src="__PUBLIC__/js/tytl.js" type="text/javascript" charset="utf-8"></script>
</block>