<extend name="Common:base" />

<block name="css">
<style>
@media only screen and (min-width: 641px) {
  .blog-sidebar {
    font-size: 1.4rem;
    margin-top: 3.6rem;
  }
}

.blog-main {
  padding: 20px 0;
}

.blog-title {
  margin: 10px 0 20px 0;
}

.blog-meta {
  font-size: 14px;
  margin: 10px 0 20px 0;
  color: #222;
}

.blog-meta a {
  color: #27ae60;
}

.blog-pagination a {
  font-size: 1.4rem;
}

.blog-team li {
  padding: 4px;
}

.blog-team img {
  margin-bottom: 0;
}

.blog-footer {
  padding: 10px 0;
  text-align: center;
}
</style>
</block>

<block name="main">
<div class="am-g">


<div class="am-u-lg-10 am-u-lg-centered">
<div class="am-u-md-8">
	<hr />
	<ul id="wookmark">
		<volist name="share" id="s">
		<li>
			<img src="__PUBLIC__/{$s.savepath}t_{$s.savename}" width="200" height="{:get_t_height($s['width'],$s['height'])}" />
		</li>
		</volist>
	</ul>

</div>

<div class="am-u-md-4 blog-sidebar">
  <div class="am-panel-group">
    <section class="am-panel am-panel-default">
      <div class="am-panel-hd">
      	<span class="am-badge-primary am-badge">{$user.user_id|get_usergroup=0}</span> <a href="">@{$user.user_id|get_nickname}</a><br />
	      	<span class="am-text-sm">
	      		<span class="am-badge am-round"><i class="am-icon-eye"></i> 关注：{$user_info.like|default='0'}</span>
	      		<span class="am-badge am-round"><i class="am-icon-eye"></i> 粉丝：{$user_info.be_like}</span>
	      		<span class="am-badge am-round"><i class="am-icon-eye"></i> 分享：{$user_info.total_share}</span>
      		</span>
      </div>
      <div class="am-panel-bd">
        <p>{$user_info.detail|default="碎片主人很懒，什么也没有留下。"}</p>
        <a class="am-btn am-btn-success am-btn-xs" href="#">查看更多信息 →</a>
      </div>
    </section>
    <if condition="$user['user_id'] eq is_login()">
    <section class="am-panel am-panel-default">
      <div class="am-panel-hd"><i class="am-icon-gear"></i> 个人信息管理</div>
      <ul class="am-list blog-list">
        <li><a href="#">修改头像</a></li>
        <li><a href="#">修改个人信息</a></li>
      </ul>
    </section>
    </if>

<!--TODO    <section class="am-panel am-panel-default">
      <div class="am-panel-hd">近期访客</div>
      <div class="am-panel-bd">
        <ul class="am-avg-sm-4 blog-team">
          <li><img class="am-thumbnail"
                   src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" alt=""/>
          </li>
          <li><img class="am-thumbnail"
                   src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" alt=""/>
          </li>
          <li><img class="am-thumbnail"
                   src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" alt=""/>
          </li>
          <li><img class="am-thumbnail"
                   src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" alt=""/>
          </li>
          <li><img class="am-thumbnail"
                   src="http://img4.duitang.com/uploads/blog/201406/15/20140615230159_kjTmC.thumb.224_0.jpeg" alt=""/>
          </li>
          <li><img class="am-thumbnail"
                   src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" alt=""/>
          </li>
          <li><img class="am-thumbnail"
                   src="http://img4.duitang.com/uploads/blog/201406/15/20140615230220_F5LiM.thumb.224_0.jpeg" alt=""/>
          </li>
          <li><img class="am-thumbnail"
                   src="http://img4.duitang.com/uploads/blog/201406/15/20140615230159_kjTmC.thumb.224_0.jpeg" alt=""/>
          </li>
        </ul>
      </div>
    </section>-->
  </div>
</div>
</div>

</div>
</block>

<block name='js'>
<script src="__PUBLIC__/js/jquery.wookmark.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$('#wookmark li').wookmark({
		container: $('#wookmark')
	});
</script>
</block>