<extend name="Common:base" />

<block name="css">
<style>
.user-info-box{width: 236px;}

@media (max-width: 640px) {
	.user-info-box{width: 162px;}
}
</style>
</block>

<block name="main">
<div class="am-g am-g-fixed">
	<h3>个人中心</h3>
	<ul id="wookmark" class="am-center" style="padding: 0;">
		<li class="wookmark-box">
			<section class="am-panel am-panel-default user-info-box" style="margin-bottom: 0;">
	      <div class="am-panel-hd">
	      	<span class="am-badge-primary am-badge am-show-sm-only">{$user.user_id|get_usergroup=0}</span><a href="" class="am-show-sm-only am-text-xs">@{$user.user_id|get_nickname}</a>
	      	<a href="" class="am-show-md-up"><span class="am-badge-primary am-badge">{$user.user_id|get_usergroup=0}</span> @{$user.user_id|get_nickname}</a>
	      </div>
	      <div class="am-panel-bd">
	      	<ul class="am-avg-sm-3">
	      		<li>
	      			<span class="am-center am-text-center"><i class="am-icon-puzzle-piece"></i> <span class="am-hide-sm-only">分享</span></span>
	      			<a class="am-center am-text-center">{$user_info.total_share}</a>
	      		</li>
	      		<li>
	      			<span class="am-center am-text-center"><i class="am-icon-eye"></i> <span class="am-hide-sm-only">关注</span></span>
	      			<a class="am-center am-text-center">{$user_info.like|default='0'}</a>
	      		</li>
	      		<li>
	      			<span class="am-center am-text-center"><i class="am-icon-users"></i> <span class="am-hide-sm-only">粉丝</span></span>
	      			<a class="am-center am-text-center">{$user_info.be_like}</a>
	      		</li>
	      	</ul>
	      	<hr />
	        <p>&nbsp;&nbsp;&nbsp;{$user_info.detail|default="碎片主人很懒，什么也没有留下。"}</p>
	        <if condition="$user_info['user_id'] eq is_login()">
	        <hr />
	        <p class="am-text-sm">修改个人信息请移步 <a href="http://bbs.cqjtu.edu.cn/memcp.php">论坛-个人中心</a> 。</p>
	        </if>
	      </div>
	    </section>
		</li>
		<volist name="share" id="vo">
		<li class="wookmark-box">
			<div class="share">
				<div class="author am-show-md-up">发表于 {$vo.create_time|get_timing}前</div>
				<div class="author am-show-sm-only"> {$vo.create_time|get_timing}前</div>
				<div class="media am-g">
					<div class="am-u-sm-12">
						<div class="tag">{$vo.tag_id|show_tag}</div>
						<a class="am-show-sm-down" href="{:U('Shard/detail','id='.$vo['share_id'])}">
							<img src="__PUBLIC__/{$vo.savepath}t_{$vo.savename}" width="162" height="{:get_t_height($vo['width'],$vo['height'],162)}"/>
						</a>
						<a class="am-show-md-up" href="{:U('Shard/detail','id='.$vo['share_id'])}">
							<img src="__PUBLIC__/{$vo.savepath}t_{$vo.savename}" width="236" height="{:get_t_height($vo['width'],$vo['height'],236)}"/>
						</a>
						<div class="time am-badge am-radius">{$vo.time|time_format="Y 年 m 月 d 日 H:i"}</div>
					</div>
				</div>
				<div class="tool-bar">
					<span class="am-badge am-round"><i class="am-icon-eye"></i> {$vo.click}</span>
					<span class="am-badge am-round"><i class="am-icon-comments-o"></i> {$vo.total_comments}</span>
				</div>
				<div class="detail am-show-sm-only" style="max-width: 162px;">{$vo.detail}</div>
				<div class="detail am-show-md-up" style="max-width: 243px;">{$vo.detail}</div>
				<div class="comment"></div>
			</div>
		</li>
		</volist>
	</ul>

</div>
</block>

<block name='js'>
<script src="__PUBLIC__/js/jquery.wookmark.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$('#wookmark li.wookmark-box').wookmark({
		container: $('#wookmark'),
		autoResize: true,
		offset: 4,
		fillEmptySpace: $(".wookmark-placeholder")
	});
</script>
</block>