<extend name="Common:base" />

<block name="main">
<div class="am-g am-g-fixed user-modi-user-info am-padding-top-xl">

	<div class="am-u-sm-12 am-u-md-7 am-u-lg-8 am-padding">
		<div class="am-padding">
			<h4>修改登陆密码</h4>
		</div>

		<form class="am-form" method="post" data-am-validator>
			<fieldset>
				<div class="am-g am-margin-top-sm">
					<div class="am-u-sm-3 am-text-right">原密码</div>
					<div class="am-u-sm-7 am-u-end"><input type="password" name="old-password" id="old-password" class="am-input-sm" minlength="6" maxlength="16" required></div>
				</div>

				<div class="am-g am-margin-top-xl">
					<div class="am-u-sm-3 am-text-right">新密码</div>
					<div class="am-u-sm-7 am-u-end"><input type="password" name="new-password" id="new-password" class="am-input-sm" minlength="6" maxlength="16" required></div>
				</div>

				<div class="am-g am-margin-top-sm">
					<div class="am-u-sm-3 am-text-right">确认密码</div>
					<div class="am-u-sm-7 am-u-end"><input type="password" id="new-repassword" class="am-input-sm" data-equal-to="#new-password" required></div>
				</div>

				<div class="am-u-sm-3 am-u-sm-offset-3 am-u-end am-margin-top">
					<input type="submit" value="提交" class="am-btn am-btn-block am-btn-primary" onclick="return submitFun()" />
				</div>
			</fieldset>
		</form>
	</div>

	<div class="am-u-sm-12 am-u-md-4 am-u-md-offset-1 am-u-lg-3 am-padding">
		<h4>用户信息中心</h4>
		<ul>
			<li><a href="{:U('User/modiUserInfo')}">修改个人信息</a></li>
			<li><a href="{:U('User/modiUserAvatar')}">修改头像</a></li>
			<if condition="get_usergroup(0) eq 9">
			<li><a href="{:U('User/modiUserPassword')}">修改密码</a></li>
			<else />
			<li><a title="前往论坛修改密码" href="http://bbs.cqjtu.edu.cn/memcp.php?action=profile&typeid=1" target="_blank">修改密码</a></li>
			</if>
		</ul>
	</div>
</div>
</block>

<block name="js">
<script type="text/javascript">

  function submitFun() {
		var newpass = $("#new-password").val();
		if (newpass.length < 6 || newpass.length > 16) {
			modalPopup("新密码格式不正确！", false);
			return false;
		}

		var newrepass = $("#new-repassword").val();
		if (newrepass !== newpass) {
			modalPopup("两次密码输入不一致！", false);
			return false;
		}

  	$.ajax({
  		type:"post",
  		url:"{:U('submitModiUserPassword')}",
  		data: $(".am-form").serialize(),
  		success: function(data) {
  			if(data.status) {
	  			modalPopup("修改成功！");
	  			setTimeout(function() {
	  				location.href = "__ROOT__/user";
	  			}, 1200);
  			} else {
  				modalPopup("出错了:"+ data.info, false);
  				console.log(data.info);
  			}
  		}
  	});
  	return false;
  }
</script>
</block>