<div class="am-modal am-modal-confirm" tabindex="-1" id="modal-confirm">
  <div class="am-modal-dialog">
    <a id="smile" data-am-modal-close class="am-text-warning am-icon-smile-o am-icon-md" href="javascript: void(0);"></a>
		<div class="am-modal-hd am-text-warning">{$title|default="天佑时光轴"}</div>
    <div class="am-modal-bd">{$info|default="你确定要这么做吗？"}</div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>