<extend name='Common:base' />

<block name='main'>
<div class="admin-content">

	<div class="am-cf am-padding">
		<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户列表</strong> / <small>Users List</small>	</div>
		<div class="am-input-group am-input-group-sm am-u-sm-4 am-fr">
			<input type="text" class="am-form-field">
			<span class="am-input-group-btn"><button class="am-btn am-btn-default" type="button">搜索</button></span>
		</div>
	</div>


	<div class="am-g">
		<div class="am-u-sm-12">
			<form class="am-form">
				<table class="am-table am-table-striped am-table-hover table-main">
					<thead>
						<tr>
							<th class="table-id">ID</th>
							<th class="table-title">昵称</th>
							<th class="table-type">邮箱</th>
							<th class="table-author">上次登陆</th>
							<th class="table-date">注册日期</th>
							<th class="table-date">登陆次数</th>
							<th class="table-set">操作</th>
						</tr>
					</thead>
					<tbody>
					<volist name="data" id="vo">
						<tr>
							<td>{$vo.user_id}</td>
							<td><a href="#">{$vo.nickname}</a></td>
							<td>{$vo.email}</td>
							<td>{$vo.lastlogin_time|get_timing}前</td>
							<td>{$vo.create_time|time_format}</td>
							<td>{$vo.login_times}</td>
							<td>
								<div class="am-btn-toolbar">
									<div class="am-btn-group am-btn-group-xs">
										<button class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="mod({$vo.id});"><span class="am-icon-pencil-square-o"></span> 编辑</button>
										<button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger" onclick="window.location='deleteUser.html?uid={$vo.id}'"><span class="am-icon-trash-o"></span> 删除</button>
									</div>
								</div>
							</td>
						</tr>
					</volist>
					</tbody>
				</table>
				<div class="am-cf">共 {$data|count} 条记录</div>
			</form>
		</div>

	</div>
</div>
</block>

<block name='js'>
<script type="text/javascript">
	var mod = function(user_id) {
		window.location.href = "{:U('Member/mod_user')}?user_id=" + user_id;
	}
</script>
</block>