<div class="am-modal am-modal-prompt" tabindex="-1" id="modal-sign">
	<div class="am-modal-dialog">
		<div class="am-modal-hd am-text-warning">{$title|default="天佑时光轴"}</div>
    <div class="am-modal-bd">
			本站已接入校内论坛，请使用论坛帐号进行登陆。<br />
			<span class="am-text-sm"><a href="http://bbs.cqjtu.edu.cn/register.php" target="_blank">没有论坛帐号?</a></span><br />
			<span class="am-text-sm"><a href="http://bbs.cqjtu.edu.cn/find.php" target="_blank">忘记了论坛帐号密码?</a></span><br />
			<span id="modal-sign-outschool" class="am-text-sm am-text-primary"><i class="am-icon-question-circle"></i> 非在校用户注册入口</span>
			<div id="modal-sign-popover" class="am-alert am-alert-danger am-text-sm am-hide am-margin-bottom-xs">请注意：因实名要求，非在校用户的操作将受到审核限制。</div>
		</div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-close>确定</span>
    </div>
	</div>
</div>

<script type="text/javascript">
var signButton = $("#modal-sign-outschool");
signButton.on('mouseover', function() {
	$('#modal-sign-popover').removeClass('am-hide');
});
signButton.on('mouseout', function() {
	$('#modal-sign-popover').addClass('am-hide');
});
</script>