<extend name="Common:base" />

<block name='sidebar'></block>

<block name="main">
<div class="am-u-sm-12 am-u-md-8 am-u-md-centered">
	<div class="am-panel am-panel-default" style="margin: 15rem auto 0;">
		<div class="am-panel-hd">
			<label style="color: #5EB95E;">{$msgTitle}</label>
		</div>
		<div class="am-panel-bd">{$message|default=$msgTitle}</div>
	</div>
	<p style="margin-bottom: 15rem;">
		页面将于 <label id="wait">{$waitSecond}</label> 秒后跳转...
		<br /> 如果浏览器无法跳转，
		<a id="href" href="{$jumpUrl}" rel="external nofollow">请点击此处</a> 。
	</p>
</div>
</block>

<block name="js">
<script type="text/javascript">
(function(){
  var wait = document.getElementById('wait');
  var href = document.getElementById('href').href;
  var interval = setInterval(function(){
  	var time = --wait.innerHTML;
  	if(time <= 0) {
  		location.href = href;
  		clearInterval(interval);
		};
  }, 1000);
})();
</script>
</block>