<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>浏览器不支持 - 天佑时光轴</title>
  <style>
  body {
	  background-color: #ECECEC;
	  font-family: 'Open Sans', sans-serif;font-size: 14px;color: #3c3c3c;
  }
  .container {
  	max-width:800px;
  	margin:50px auto;
  	border: 1px solid #ECECEC;
  	background-color: white;
  	padding: 16px;
  }
  p {
  	line-height: 28px;
  }
  .uknow {
  	padding: 0 16px 16px;
  	border: 1px dashed #0C7CB5;border-radius: 8px;
  }
  </style>
</head>

<body>
	<!--[if (gt IE 9)|!(IE)]><!-->
	<script type="text/javascript">
		window.history.go(-1);
	</script>
	<!--<![endif]-->
  <div class="container">
    <h2>Fuck IE - 天佑时光轴</h2>
    <p>很抱歉，本站对IE9及以下浏览器不提供支持，请使用 chrome、FireFox、各种极速浏览器或 IE10 以上浏览器访问本站。</p>
    <div class="uknow">
	    <p>
	    	<span style="margin-top: 0;">你知道吗？</span><hr />
	    	为增强您的体验，本站使用了HTML5/CSS3技术增强视觉效果，而这些技术是不被IE9及以下等淘汰的浏览器支持的。所以请您尽早更换浏览习惯。
	    </p>
	    <p>本站编辑推荐您使用以下浏览器：</p>
	    <ul>
	    	<li>chrome <a href="http://down.cqjtu.edu.cn/view/591.html">校园网下载入口</a> <a href="http://down.tech.sina.com.cn/content/40975.html">外网下载入口</a></li>
	    	<li>FireFox <a href="http://down.cqjtu.edu.cn/view/590.html">校园网下载入口</a></li>
	    	<li>遨游云浏览器 <a href="http://down.cqjtu.edu.cn/view/472.html">校园网下载入口</a></li>
	    	<li>百度浏览器</li>
	    	<li>360极速浏览器</li>
	    	<li>QQ浏览器</li>
	    </ul>
	    <p>如果您使用了上述浏览器还是出现此页面，请将地址栏访问模式更改为 <strong>极速模式</strong> 而不是兼容模式 。</p>
    </div>
  </div>
</body>
</html>
