<extend name='Common:base' />

<block name='main'>
<div class="am-g am-g-fixed">


	<!-- 分类模块 -->
	<div class="am-g ground-catalog">
		<h2>分类大全</h2>
		<volist name="catalog" id="group">
			<div class="am-g am-margin-top-lg content">
				<div class="am-u-sm-4 am-u-end am-text-center header"><a href="{:U('Catalog/detail','id='.$group)}">{$group|get_catalog_name}</a></div>
				<div class="am-u-sm-12 body">
					<volist name="share[$key]" id="vo">
						<a href="{:U('Shard/detail','id='.$vo['share_id'])}">
							<div class="media">
								<img src="__PUBLIC__/{$vo.savepath}t_{$vo.savename}" height="221" />
								<div class="info">
									<span class="am-text-warning">@{$vo.user_id|get_nickname}</span>
  								发表在 <span class="am-text-secondary">{$vo.catalog_id|get_catalog_name}</span>
  								于 <span>{$vo.create_time|get_timing}</span>前
									<gt name="vo['tag_id'].length" value="0"><br /><span style="display: block;padding-top: 4px;">{$vo.tag_id|show_tag}</span></gt>
  								<gt name="vo['detail'].length" value="0"><br />并说: <span class="detail">{$vo.detail|substring}</span></gt>
								</div>
							</div>
						</a>
					</volist>
				</div>
			</div>
		</volist>
	</div>


</div>
</block>

<block name="js">
<script type="text/javascript">
(function($) {
	$(".media").on('mouseover', function() {
		var el = $(this);
		el.children('.info').css('top', '0');
	});
	$(".media").on('mouseout', function() {
		var el = $(this);
		el.children('.info').css('top', '-300px');
	});




	/**
	 * 水平瀑布流布局
	 * @author mutoe
	 */
	// 写入行数据
  var row = new Array();
  var r = 0;
	$(".media").each(function() {
		var el = $(this);
		var innerHt = el.position().top;
		if(innerHt != row[row.length - 1]) {	// 如果新一行元素
			r++;
			row.push( innerHt );	// 写入高度
		}
		el.attr('data-row', r);	// 写入行数数据
	});

	// 根据行数据处理
	var parentWidth = $('.body').innerWidth();
	var mediaHight = $('.media:first').children('img').attr('height');
	var ht;	// 计算后的行高度
	for (var i = 1 ; i < r ; i++ ) {
		$(".media[data-row='"+ i +"']:last").each(function() {
			var el = $(this);
			var mod = el.position().left;
			ht = ( mediaHight * parentWidth ) / ( parentWidth - mod );
		});
		$(".media[data-row='"+ i +"']").each(function() {
			var el = $(this);
			el.children('img').attr('height', Math.floor(ht) );
			el.css('float', 'left');
		});
	}
	$(".media[data-row='"+ r +"']").each(function() {
		var el = $(this);
		el.css('float', 'left');
	});

})(jQuery);

</script>
</block>