<extend name='Common:base' />

<block name="main">
<div class="am-g">
	<ul id="wookmark" class="am-u-sm-12 am-u-md-10 am-u-sm-centered am-center" style="margin-top: 6rem;">
		<li class="wookmark-box">
			<div id="page-ground-nav">
				<h2 class="title">时光广场</h2>
				<span class="loc am-text-sm">
					<i class="am-icon-map-marker am-icon-md"></i> <a href="/">首页</a> <i class="am-icon-angle-double-right"></i> <a href="/ground">广场</a> <i class="am-icon-angle-double-right"></i> {$location}
				</span>
				<hr />
				<ul>
					<li><a href="/new">最新</a></li>
					<li><a href="/hot">最热</a></li>
					<li><a href="/rand">随机推荐</a></li>
				</ul>
			</div>
		</li>
		<volist name="data" id="vo">
		<li class="wookmark-box">
			<div class="share">
				<div class="author"><a href="/user/{$vo['user_id']}">@{$vo.user_id|get_nickname}</a></div>
				<div class="media am-g">
					<div class="am-u-sm-12">
						<div class="tag am-hide-sm-only">{$vo.tag_id|show_tag}</div>
						<a class="am-show-sm-down" href="/{$vo.share_id}">
							<img src="__PUBLIC__/{$vo.savepath}t_{$vo.savename}" width="254" height="{:get_t_height($vo['width'],$vo['height'],254)}"/>
						</a>
						<a class="am-show-md-up" href="/{$vo.share_id}">
							<img class="lazy"
							src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
							data-original="__PUBLIC__/{$vo.savepath}t_{$vo.savename}" width="254" height="{:get_t_height($vo['width'],$vo['height'],254)}"/>
						</a>
						<div class="time am-badge am-radius">{$vo.time|time_format="m 月 d 日 H:i"}</div>
					</div>
				</div>
				<div class="tool-bar am-hide-sm-only">
					<span class="am-badge am-round"><i class="am-icon-eye"></i> {$vo.click}</span>
					<span class="am-badge am-round"><i class="am-icon-comments-o"></i> {$vo.total_comments}</span>
					<button class="am-badge am-round am-badge-danger like-btn" onclick="like({$vo.share_id},this);">
						<if condition="get_like_status($vo['share_id'])">
							<i class="am-icon-heart"></i>
						<else />
							<i class="am-icon-heart-o"></i>
						</if>
					</button>
				</div>
				<div class="detail am-show-sm-only" style="max-width: 162px;">{$vo.detail|substring='50'}</div>
				<div class="detail am-show-md-up" style="max-width: 254px;">{$vo.detail|substring='80'}</div>
				<div class="detail" style="color: #555;">分享在 <a href="/catalog/{$vo['catalog_id']}">{$vo.catalog_id|get_catalog_name}</a> 于 {$vo.create_time|get_timing}前</div>
				<div class="comment"></div>
			</div>
		</li>
		</volist>
	</ul>
</div>
</block>

<block name="js">
<script src="__PUBLIC__/js/jquery.wookmark.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$("#wookmark li.wookmark-box").wookmark({
	container: $("#wookmark"),
	offset: 24,
	autoResize: true,
	align: 'center'
});
</script>

<script src="__PUBLIC__/js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$("img.lazy").show().lazyload({
		threshold : 400,
		effect : "fadeIn"
	});
</script>
</block>