<extend name='Common:base' />

<block name="css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.Jcrop.css"/>
<style type="text/css">
  #target {
    background-color: #ccc;
    width: 500px;
    height: 330px;
    font-size: 24px;
    display: block;
  }
</style>
</block>

<block name='main'>
<div class="admin-content">

	<div class="am-cf am-padding">
		<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">轮播图</strong> / <small>Banner</small>
		</div>
	</div>

	<div class="am-tabs am-margin" data-am-tabs>
		<ul class="am-tabs-nav am-nav am-nav-tabs">
			<li class="am-active"><a href="#tab1">新增轮播图</a></li>
		</ul>

		<div class="am-tabs-bd">
			<div class="am-tab-panel am-fade am-in am-active" id="tab1">
				<form class="am-form" method="post" onsubmit="return checkCoords();">
					<div class="am-u-sm-12 am-margin-top">
						<label>
							<h5>引用源</h5>
							<input type="text" name="source" id="source" />
							<p id="source_name" class="am-margin-top-xs am-margin-bottom-xs"></p>
							<p class="am-margin-top-sm am-text-sm">请输入引用源用户id，若没有则不填。<br /><span class="am-text-danger">因已印上水印，所以引用源一旦设定不可更改</span></p>
						</label>
					</div>

					<div class="am-u-sm-12 am-margin-top">
						<h5>图片裁切</h5>
						<p>新上传的轮播图需要进行裁切，以符合首页需求。</p>
						<img src="__PUBLIC__/img/banner/{$data.savename}" id="cropbox" style="width: 960px;" />
					</div>

					<div class="am-u-sm-3 am-u-end am-margin-top">
							<input type="hidden" id="x" name="x" />
							<input type="hidden" id="y" name="y" />
							<input type="hidden" id="w" name="w" />
							<input type="hidden" id="h" name="h" />
							<input type="hidden" id="f" name="f" />
							<input type="submit" value="提交" class="am-btn am-btn-block am-btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
</block>

<block name="js">
<script src="__PUBLIC__/js/jquery.Jcrop.min.js" type="text/javascript" charset="utf-8"></script>
<script>
$(function() {
	var jcrop_api;
	$('#cropbox').Jcrop({
	  aspectRatio: 2.35,
	  onSelect: updateCoords,
	  boxWidth: 960,
    bgColor: 'white',
    bgOpacity: 0.2,
    addClass: 'jcrop-light'
	});

	$("#source").on('blur', function() {
		var user_id = $("#source").val();
		if (!user_id) user_id = 0;
		$.ajax({
			type:"get",
			url:"{:U('Base/get_nickname')}?user_id="+ user_id,
			success: function(data) {
				if (data.info) {
					$("#source_name").html("<span class='am-text-success'>id:"+ user_id +", 用户名:"+ data.info +"</span>");
				} else {
					$("#source_name").html("<span class='am-text-warning'>不存在此用户，将引用源设置为当前账户</span>");
				}
			}
		});
	});

});

function updateCoords(c) {
  $('#x').val(c.x);
  $('#y').val(c.y);
  $('#w').val(c.w);
  $('#h').val(c.h);
};

function checkCoords() {
  if (parseInt($('#w').val())) return true;
  alert('请选择一个有效范围再进行提交');
  return false;
};

</script>
</block>