<extend name='Common:base' />

<block name='main'>
<div class="admin-content">

	<div class="am-padding">
		<div class="am-fl"><strong class="am-text-primary am-text-lg">分类管理</strong> / <small>Catalog Manage</small></div>
		<div class="am-input-group am-input-group-sm am-u-sm-4 am-fr">
			<input type="text" class="am-form-field">
			<span class="am-input-group-btn"><button class="am-btn am-btn-default" type="button">搜索</button></span>
		</div>
		<a href="{:U('addCatalog')}" class="am-btn am-btn-warning am-btn-sm am-fr">新增分类</a href="addCatalog">
	</div>

	<div class="am-g">
		<div class="am-u-sm-12">
			<form class="am-form">
				<table class="am-table am-table-striped am-table-hover table-main">
					<thead>
						<tr>
							<th class="table-id">ID</th>
							<th>名称</th>
							<th>权重</th>
							<th>状态</th>
							<th>总分享数</th>
							<th class="table-set">操作</th>
						</tr>
					</thead>
					<tbody>
					<volist name="data" id="vo">
						<tr data-catalog-id="{$vo.catalog_id}">
							<td><a href="#"><span class="am-badge am-badge-primary am-text-sm am-round">{$vo.catalog_id}</span></a></td>
							<td>{$vo.catalog_id|get_catalog_name}</td>
							<td>{$vo.sort}</td>
							<td>{$vo.status}</td>
							<td>{$vo.total_share}</td>
							<td>
								<div class="am-btn-toolbar">
									<div class="am-btn-group am-btn-group-xs">
										<a class="am-btn am-btn-primary am-btn-xs" href="{:U('modifyCatalog','catalog_id='.$vo['catalog_id'])}">修改</a>
										<button type="button" class="am-btn am-btn-link am-btn-xs am-text-danger" onclick="deleteCatalog({$vo.catalog_id})"><span class="am-icon-trash-o"></span> 删除</button>
									</div>
								</div>
							</td>
						</tr>
					</volist>
					</tbody>
				</table>
				<div class="am-cf">
					共 {$data|count} 条记录
					<div class="am-fr">
						<ul class="am-pagination">
							<li class="am-disabled"><a href="#">«</a></li>
							<li class="am-active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">»</a></li>
						</ul>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>
</block>

<block name="js">
<script type="text/javascript">
  function deleteCatalog(catalog_id) {
  	modalConfirm(function() {
  		$.ajax({
  			type:"post",
  			url:"deleteCatalog",
  			data: {catalog_id: catalog_id},
  			success: function(data) {
  				if (data.status) {
						$("tr[data-catalog-id="+ catalog_id +"]").remove();
						modalPopup("删除分类成功");
  				} else {
  					modalPopup("删除失败了:" + data.info, false);
  				}
  			}
  		});
  	}, "你确实要删除这个分类吗?");
  }
</script>
</block>