<extend name='Common:base' />

<block name='main'>
<div class="admin-content">

	<div class="am-cf am-padding">
		<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">碎片管理</strong> / <small>Shard Manage</small>
		</div>
		<div class="am-input-group am-input-group-sm am-u-sm-4 am-fr">
			<input type="text" class="am-form-field" id="doc-ipt-search">
			<span class="am-input-group-btn"><button class="am-btn am-btn-default" type="button" onclick="share_search();">搜索</button></span>
		</div>
	</div>

	<div class="am-g">
		<div class="am-u-sm-12">
			<form class="am-form">
				<table class="am-table am-table-striped am-table-hover table-main">
					<thead>
						<tr>
							<th class="table-id">ID</th>
							<th class="table-type">标签</th>
							<th class="table-title">描述</th>
							<th class="table-date">创建日期</th>
							<th class="table-author">上传者</th>
							<th class="table-set">操作</th>
						</tr>
					</thead>
					<tbody>
					<volist name="data" id="vo">
						<tr>
							<td><a href="#"><span class="am-badge am-badge-primary am-text-sm am-round">{$vo.share_id}</span></a></td>
							<td>{$vo.tag_id|get_tag}</td>
							<if condition="mb_strlen($vo['detail'],'utf-8') gt 16">
								<td>{$vo.detail|mb_substr=0,16,'utf-8'}...</td>
							<else />
								<td>{$vo.detail}</td>
							</if>
							<td>{$vo.create_time|time_format} <span class="am-text-warning">约 {$vo.create_time|get_timing}前</span></td>
							<td>({$vo.user_id}){$vo.user_id|get_nickname}</td>
							<td>
								<div class="am-btn-toolbar">
									<div class="am-btn-group am-btn-group-xs">
										<button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger" onclick="del({$vo.share_id})"><span class="am-icon-trash-o"></span> 删除</button>
									</div>
								</div>
							</td>
						</tr>
					</volist>
					</tbody>
				</table>
				<div class="am-cf">
					共 {$data|count} 条记录
					<div class="am-fr">
						<ul class="am-pagination">
							<li class="am-disabled"><a href="#">«</a></li>
							<li class="am-active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">»</a></li>
						</ul>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>
</block>

<block name="js">
<script type="text/javascript">
  var del = function (id) {
  	if( confirm('你确实要删除吗？') ) {
			$.ajax({
				url: "{:U('delShare')}",
				data: {"share_id": id},
				success: function (data) {
					if(data.status) {
						location.reload(true);
					} else {
						alert('删除失败:'+ data.info);
					}
				}
			});
  	}
  }
</script>
</block>